@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700&display=swap');
body{
  background-color: #fff;
  font-family: 'Nunito', sans-serif !important;
  font-size: 12px !important;
}
#code-title{
  color:#ff554dff;
  margin-bottom: 10px;
}
.register-error{
  display: none;
}

.register-box-error{
  display: none;
}
.addInvoice-error{
	display: none;
}
.addInvoice-success{
	display: none;
}
.register-success{
  display: none;
}
.region-success{
  display: none;
}
.region-error{
  display: none;
}
.box-success{
  display: none;
}
.box-error{
  display: none;
}
.depart-success{
  display: none;
}
.depart-error{
  display: none;
}
.registerw-success{
  display: none;
}
.registerw-error{
  display: none;
}
.register-state-success{
  display: none;
}
.register-state-error{
  display: none;
}
.register-errorM{
  display: none;
}
.register-successM{
  display: none;
}
.register-errorD{
  display: none;
}
.register-successD{
  display: none;
}
.state-error{
  display: none;
}
.state-success{
  display: none;
}
.addH-error{
  display: none;
}
.addH-success{
  display: none;
}
.addStock-error{
  display: none;
}
.addStock-success{
  display: none;
}
.search-span{
	font-size: 20px !important;
}
.container-fluid{
	background-color: white !important;
}
.logo{
	width: 100% !important;
}

.adelete{
  display: none;
  text-decoration: none;
  color: red;
}

.error-warning{
  display: none;
}

.success-warning{
  display: none;
}

.user-success{
  display: none;
}

.user-error{
  display: none;
}

#createPacking{
  display: none;
}
#createBulkP{
  display: none;
}
.pack-img{
  width: 15% !important;
}

.confirm-alert{
  padding-top: 0px;
  padding-bottom: 0px;
}

#card-container{
  margin-top: 20%;
}
#cardL{
  margin-top: 8%;
}

#card-title{
  margin-bottom: 50px;
}

/* #login-container{

} */
 

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}

.boton-total-envios{
  border: 2px solid #ff554dff;
  text-decoration: none;
  padding: 5px;
  color:white;
  background-color: #ff554dff;
  width: 35%;
  /* margin-left: 15%; */
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif !important;
  /*height: 35px;*/
  

}

.boton-total-envios-registro{
  border: 2px solid #ff554dff;
  text-decoration: none;
  padding: 5px;
  color:white;
  background-color: #ff554dff;
  width: 20%;
  /* margin-left: 15%; */
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  height: 40px;
  

}

.boton-total-envios-registro:hover{
  
  border: 2px solid #005574;
  background-color: #005574;
  color:white;
}

.boton-total-envios-registro-config{
  border: 2px solid #ff554dff;
  text-decoration: none;
  padding: 5px;
  color:white;
  background-color: #ff554dff;
  width: 100%;
  /* margin-left: 15%; */
  border-radius: 30px;
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-size: 12px;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  height: 40px;
  

}

.boton-total-envios-courier{
  border: 2px solid #005574;
  text-decoration: none;
  padding: 5px;
  color:#005574;
  background-color: white;
  width: 50%;
  /* margin-left: 15%; */
  /* margin-top: 20px; */
  margin-bottom: 10px;
  font-size: 12px;
  /* font-family: "Lucida Console", "Courier New", monospace; */
  height: 38px;
  

}

.boton-total-envios-registro-config:hover{
  
  border: 2px solid #005574;
  background-color: #005574;
  color:white;
}
.boton-total-envios:hover{
  
  border: 2px solid #005574;
  background-color: #005574;
  color:white;
}
.campos-input-login{
  border: 2px solid #005574;
  height: 40px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif !important;
  border-radius: 10px;
  color:#005574;
}

.campos-input-login::-webkit-input-placeholder{
  color:#005574;
}

.campos-input-login-REGISTER{
  border: 2px solid #ff554dff;
  height: 40px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: 'Nunito', sans-serif !important;
  border-radius: 15px;
  color:#ff554dff;
}

.campos-input-login-REGISTER::-webkit-input-placeholder{
  color:#ff554dff;
}


.campos-input.campos-input{ 
  border: 2px solid #e3e3e3ff;
  width: 70%;
  margin-left: 15%;
  height: 40px;
  margin-bottom: 5px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif !important;
  border-radius: 10px;
  color:#005574;
  padding-left: 15px;

}

.table td, .table th {
  padding: .40rem !important;
  vertical-align: middle !important;
  border-top: 1px solid #dee2e6;
} 

div.dataTables_wrapper .dataTables_info {
    font-size:15px !important;
    letter-spacing: -0.5px !important;
}
.campos-input.campos-input::-webkit-input-placeholder{
  color:#005574;
}
.separador{
  border: 1px #eeeeeeff;
}


#imag{
    height: auto;
    max-width: 30%;
    /* margin-left: 35%; */
    margin-top: 10%;
}

.encabezado{
  height: 50%;
  width: 100%;
  align-items: center;
  margin-bottom: 50px;
}

.footer-text{
  text-decoration: none;
  font-size: 12px;
  font-family: 'Nunito', sans-serif !important;
  align-items: center;
  width: 100%;
  color: #36315eff;
}

.boton-register{
  text-decoration: none;
  padding: 5px;
  width: 50%;
  margin-left: 25%;
  border-radius: 10px;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif !important;
  height: 40px;
  border: 2px solid #ff554dff;
  background-color: #ff554dff;
  color:white;
}

.boton-nuevo-usuario{
  border: 2px solid #ff554dff;
  background-color: #ff554dff;
  color:white;
  height: 37px;
  width: 100px;
  margin-top: 27px;
}

.campos-warehouse{
  border: 2px solid #e3e3e3ff;
  width: 100%;
  height: 40px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif !important;
  color:#36315eff;
  padding-left: 15px;
}

.destino-data{
  border: 1px solid #e3e3e3ff;
  padding: 3%;
  border-radius: 8px;

}
.input-register-warehouse{
  width: 100%;
  border-radius: 5px;
  border-color: #e3e3e3ff;
  height: 35px;
}

.btn-buscar-usuario{
  width: 20%;
  border-radius: 10px;
  margin-top: 13%;
  height: 35px;
  border: 2px solid #ff554dff;
  background-color: #ff554dff;
  color:white;
  margin-left: -10%;
}

.btn-cargar-cajas{
  width: 100%;
  border-radius: 10px;
  height: 50px;
  border: 2px solid white;
  background-color: #005574;
  color:white;
  margin-left: -10%;
}

.imagen-logo{
  width: 20%;
}

.page-wrapper{
  margin-top: 3%;
  padding-left: 2%;
  padding-right: 2%; 
  background-color: white; 
}

table {
  width: 100%;
}
th, td {
  width: 25%;
}

/**** ESTILO DEL WIZARD*/



/*------------------------*/

#msform {
  position: relative;
  margin-top: 20px
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 94%;
  margin: 0 3% 20px 3%;
  position: relative
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E
}


#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none;
  font-weight: bold;
  border-bottom: 2px solid skyblue;
  outline-width: 0
}

#msform .action-button {
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
}

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue
}

.conect-line {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  margin-left:-20px;
}

.fs-title {
  font-size: 25px;
  color: #2C3E50;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey
}

#progressbar .active {
  color: #000000
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 25%;
  float: left;
  
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007"
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f09d"
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c"
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: skyblue
}

.radio-group {
  position: relative;
  margin-bottom: 25px
}

.radio {
  display: inline-block;
  width: 204;
  height: 104;
  border-radius: 0;
  background: lightblue;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  cursor: pointer;
  margin: 8px 2px
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3)
}

.radio.selected {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1)
}

.fit-image {
  width: 100%;
  object-fit: cover
}